<template>
  <q-page class="row items-center justify-evenly">
    <h1>Main page</h1>
    <p>
      {{ hero }}
    </p>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import authApi from "~/api/auth";

export default defineComponent({
  name: "PageIndex",
  data() {
    return {
      hero: null,
    };
  },
  mounted() {
    this.getMainPage();
  },
  methods: {
    async getMainPage() {
      const response = await authApi.getMainPage();
      console.log(response);
      this.hero = response;
    },
  },
});
</script>
