<template>
  <q-page class="">
    <h1>Inner page</h1>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
// import { api } from "~/boot/axios";
// import { useRouter, useRoute } from "vue-router";

// import authApi from "~/api/auth";

// import { StrapiResponseData } from "../types/strapi/base";
// import { parseStrapiError } from "../helpers/strapi";

export default defineComponent({
  setup(props) {
    // const $q = useQuasar();
    // const router = useRouter();
    // const route = useRoute();

    return {};
  },
});
</script>
