<template>
  <q-header elevated class="bg-primary text-white" height-hint="98">
    <q-toolbar>
      <q-toolbar-title>
        <q-avatar>
          <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg" />
        </q-avatar>
        Title
      </q-toolbar-title>
    </q-toolbar>

    <q-tabs align="left">
      <q-route-tab to="/" label="Main" />
      <q-route-tab to="/inner" label="Inner page" />
    </q-tabs>
  </q-header>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "MainHeader",
  setup() {
    return {};
  },
});
</script>
