<template>
  <q-layout view="hHh lpR fFf">
    <main-header />

    <q-page-container class="q-pa-md">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent } from "vue";
import MainHeader from "../components/main-header/main-header.vue";

export default defineComponent({
  name: "MainLayout",
  components: {
    MainHeader,
  },
});
</script>
